.waypoint-list-item{
  background-color: #ececec;
  border: 1px solid #D6D1D1;
  padding: 5px;
  list-style-type: none;
  margin-bottom: 1px;
  cursor: move;
  vertical-align: middle;
  font-family: Arial;
  display: flex;
}

.waypoint-title{
  flex: 8;
  margin-top: 5px;
}

.remove-item-section{
  flex: 1;
}

.remove-item-btn{
  background-color: #FFF;
  border: 1px solid #D6D1D1;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.remove-item-btn:hover {
  border: 1px solid #E77E7E;
}
