.app{
  display: grid;
  grid-template-columns: 30% 70%;
  min-width: 400px;
  width: 80%;
  height: 200px;
  margin:0px auto;
}

.search{
  margin-right: 23px;
}
.list{
  margin-right: 10px;
  margin-top: 10px;
}
